<div class="container-fluid h-100">
  <div class="row align-items-center">
    <div class="col-1">
      <%= link_to back(:purchases_path), class: "flex-column align-items-start" do %>
        <i class="fas fa-chevron-circle-left fa-3x"></i>
      <% end %>
    </div>
    <div class="col-10 text-center pt-1">
      <h1 class="display-4">New Purchase</h1>
    </div>
  </div>

  <div class="d-flex align-items-center flex-column h-100 my-3">
    <%= render 'form', purchase: @purchase %>
    <%= link_to 'Cancel', root_path %>
  </div>
</div>