<p id="notice"><%= notice %></p>

<p>
  <strong>TypeName:</strong>
  <%= @purchase_type.type_name %>
</p>

<%= link_to 'Edit', edit_purchase_type_path(@purchase_type) %> |
<%= link_to 'Back', purchase_types_path %>
