
<!--<div>
  <input type="search" id="item-search" placeholder="Enter name..." data-behavior="autocomplete">
</div>
-->
<div class="field form-group">
  <label class="control-label">Lookup Item</label>
  <input type="search" id="item-search" placeholder="Search for item..." autocomplete="off" class= "form-control" >
</div>

<div id="item-search-result" style="display:none">
  <div class="row">
    <strong class="col">Item Name:</strong>
    <div id="result-name" class="col"></div>
  </div>
  <br>
  <div class="row">
    <strong class="col">Item Description:</strong>
    <div id="result-desc" class="col"></div>
  </div>
</div>
