<h4>Lookup Item</h4>
<div>
  <input type="search" id="item-search" placeholder="Enter name..." data-behavior="autocomplete">
</div>
<br>

<div id="item-search-result" style="display:none">
  <div class="row">
    <div class="col-sm-1">Item Id:</div>
    <div class="col-sm-2">Item Name:</div>
    <div class="col-sm-4">Item Description:</div>
</div>
  <div class="row">
    <div id="result-id" class="col-sm-1"></div>
    <div id="result-name" class="col-sm-2"></div>
    <div id="result-desc" class="col-sm-4"></div>
</div>
</div>
<br>