/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 * 
 *= require bootstrap
  *= require_tree .
  *= require_self
 */
@import "bootstrap/scss/bootstrap";
@import 'easy-autocomplete/dist/easy-autocomplete';

.fa-chevron-circle-left {
  color: #343a40;
}

.fa-edit {
  color: #343a40;
}

.fa-trash-alt {
  color: #343a40;
}

.navbar-dark .navbar-nav .show > .nav-link, .navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .nav-link.active {
  color: #FFFFFF80;
}

// /* Extra small devices (phones, 600px and down) */
// @media (max-width: 300px) {
//   .navbar-brand{
//     font-size: calc(2.5rem);
//     }
//   .nav-item{
//     font-size: calc(2.3rem);
//   }
// }

// /* Small devices (portrait tablets and large phones, 600px and up) */
// @media (max-width: 600px) {
//   .navbar-brand{
//     font-size: calc(2.3rem);
//     }
//     .nav-item{
//       font-size: calc(2rem);
//     }
// }

// /* Medium devices (landscape tablets, 768px and up) */
// @media (max-width: 768px) {
//   .navbar-brand{
//     font-size: calc(2rem);
//     }    
//   .nav-item{
//     font-size: calc(1.8rem);
//   }
// }

// /* Large devices (laptops/desktops, 992px and up) */
// @media (max-width: 989px) {
//   .navbar-brand{
//     font-size: calc(1.7rem);
//     }
//     .nav-item{
//       font-size: calc(1.5rem);
//     }
// }

// /* Extra large devices (large laptops and desktops, 1200px and up) */
// @media (max-width: 1200px) {
//   .navbar-brand{
//     font-size: calc(1.5rem);
//     }
//     .nav-item{
//       font-size: calc(1.1rem);
//     }
// }

// @media (min-width: 1200px) {
//   .navbar-brand{
//     font-size: calc(1.5rem);
//     }
//     .nav-item{
//       font-size: calc(1.1rem);
//     }
// }
