/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 * 
 *= require bootstrap
  *= require_tree .
  *= require_self
 */
@import "bootstrap/scss/bootstrap";
@import 'easy-autocomplete/dist/easy-autocomplete';

.fa-chevron-circle-left {
  color: #343a40;
}

.fa-edit {
  color: #343a40;
}

.fa-trash-alt {
  color: #343a40;
}

.ui-menu-item {
  background-color: white;
  color:black;
}

.ui-menu-item .ui-menu-item-wrapper.ui-state-active {
  background: #6693bc !important;
  color: black !important;
} 

.fa-window-close {
  color: red;
}

.navbar-dark .navbar-nav .show > .nav-link, .navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .nav-link.active {
  color: #FFFFFF80;
}

.text-responsive {
  font-size: calc(100% + 1vw + 1vh);
}

.carousel .carousel-indicators li {
  background-color: #fff;
  background-color: rgba(70, 70, 70, 0.25);
}
.carousel .carousel-indicators .active {
  background-color: #444;
}

.item_image {
  width: auto;
  height: 45vw;
  object-fit: cover;
}

@media (min-width: 768px) { 
  
.item_image {
  width: auto;
  height: 22vw;
  object-fit: cover;
 }
}